<!DOCTYPE html>
<html>
<head>
    <title>Rain</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> <!-- Link to your custom CSS file -->
    <script>
        var cardsData = JSON.parse('{{ cards | tojson | safe }}');
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="fullpage">
            <nav class="dashboard">
                <ul class="nav">
                    <li><a href=""><div class="nav_element"><i class="fi fi-rs-rocket-lunch"></i></div></a></li>
                    <li><a href=""><div class="nav_element"><i class="fi fi-rs-heart"></i></div></a></li>
                    <li><a href=""><div class="nav_element"><i class="fi fi-rs-heart-crack"></i></div></a></li>
                    <li><a href=""><div class="nav_element"><i class="fi fi-rs-magic-wand"></i></div></a></li>
                </ul>
            </nav>
        <div class="page-wrapper">
            <span class="big-title">Users At Random</span>
            <br>
            <span style="color: #555;">
                Will they follow you back ?</span>
                
            <div class="container">
                <div class="grid" id="card-container">

                </div>
                <div class="pagination" id="pagination">
                    <!-- Pagination links will be dynamically added here -->
                </div>
            </div>
            <a href="#" class="float">
                <i class="fi fi-rs-cloud-showers" style="color: white;"></i>
            </a>
        </div>
    </div>
    <!-- <div id="loader" class="loader">
        <div class="progress">
            <div class="color"></div>
          </div>
    </div> -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
